body, html {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  background-color: white;
}
html{
    overflow-x: hidden ;
    overflow-y: scroll;
    
}

.label{
  background-color:rgba(128, 128, 128, 0.068);
  padding: 25px;
  text-align: left;
}

/** footer Part**/
ul {
  list-style: none;
  padding-left: 0;
}
li{
  font-size: 12px;
}


.ft-title {
  color: rgb(26, 4, 4);
  font-family: "Merriweather", serif;
  font-size: 20px;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
.ft-main a{
 color: black;
 text-decoration: none;
}
.ft-main a:hover{
 color: #7ed6df;
 text-decoration: none;
}

@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/** Header Part**/
.topnav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  text-decoration: none;
  border-bottom: 2px solid rgba(211, 211, 211, 0.856);
  padding-top: 10px;
  padding-left: 20 px;
  padding-right: 10px;   
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: #7ed6df;
  text-decoration: none;
}

.topnav a.active {
  background-color: white;
  color: #7ed6df;
}
.topnav .search-container {
  float: right;
  padding-right:100px;;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  background-color: white;
}
html{
    overflow-x: hidden ;
    overflow-y: scroll;
    
}
.product-button{
  margin: auto;
  color: #7ed6df;
  text-decoration: none;
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 10px;
  text-align:center;
}

.product-button:hover{
  background-color: #7ed6df;
  color:white;
  text-decoration: none;
}

